* {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.header-list {
    display: flex;
    list-style: none;
}
.header-list li a {
    color: rgb(0, 0, 0);
    margin-right: 34px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
}
.header-search {
    display: inline-block;
}
.header-search img {
    width: 48px;
    height: 48px;
    margin-right: 24px;
}
.main {
    margin-top: 48px;
}
.slider {
    width: 100%;
    height: 100vh;  
    position: relative; 
    overflow: hidden;
}
.slider img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.slider div {
    position: absolute;
    bottom: 20px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    color: azure;
    
}
.slider-heading {
    font-size: 30px;
    font-weight: 600;
}
.the-band {
    width: 750px;
    margin: 0 auto;
    
}
.the-band-heading {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 48px;
}
.the-band-sub-heading {
    text-align: center;
    font-style: italic;
    opacity: 0.5;
    margin-top: 12px;
    margin-bottom: 24px;
}
.the-band-text {
    text-align: justify;
}
.the-band-list {
display: flex;
list-style: none;
justify-content: space-between;
text-align: center;
margin-top: 24px;
margin-bottom: 12px;
}
.the-band-list p {
    margin-bottom: 12px;
}
.the-band-list img {
    width: 150px;
    height: 150px;
}
.tour {
    background-color: rgb(255, 200, 0);
    padding-top: 8px;
    margin-top: 48px;
    padding-bottom: 48px;

}
.tour-heading {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 48px;
}
.tour-sub-heading {
    text-align: center;
    font-style: italic;
    opacity: 0.5;
    margin-top: 12px;
    margin-bottom: 24px;
}
.tour-place-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}
.tour-place-content {
    background-color: aliceblue;
    padding: 16px;
}
.tour-place-content p {
    padding: 0;
}
.tour-place-list img {
    width: 100%;

}
.tour-container {
    width: 750px;
    margin: 0 auto;
}
.tour-ticket-list {
    background-color: aliceblue;
    list-style: none;
    padding: 16px 24px;
}
.tour-ticket-list li {
    display: flex;
    margin-top: 8px;
    border-bottom: 1px solid #000;
    padding-bottom: 8px;
}
.tour-banner {
    margin-left: 16px;
    background-color: red;
    color: white;
}
.tour-place-time {
    margin-top: 8px;
    margin-bottom: 8px;
    opacity: 0.5;
}
.contact {
    width: 750px;
    margin: 0 auto;
}
.contact-heading {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 48px;
}
.contact-sub-heading {
    text-align: center;
    font-style: italic;
    opacity: 0.5;
    margin-top: 12px;
    margin-bottom: 24px;
}
.contact-bottom {
    display: flex;
    justify-content: space-between;
}
.contact-content-item {
    display: flex;
    align-items: center;
    margin-top: 8px;
}
.contact-content-item i {
    margin-right: 8px;
}
.contact-group {
    display: flex;
}
.contact-message {
    width: 100%;
    margin-top: 4px;
}
.contact-form button {
    border: 0;
    cursor: pointer;
    background-color: yellow;
    padding: 8px 16px;
    margin-top: 16px;
}
html {
    scroll-behavior: smooth;
}
.map {
    margin-top: 48px;
}
.map img {
    width: 100%;
}
.footer {
    text-align: center;
    margin: 48px 0;
}
.footer-social a {
margin-right: 16px;
font-size: 18px;
text-decoration: none;
color: #000;
}
